@page "/admin/UrlNamePlaceholder-edit"
@page "/admin/UrlNamePlaceholder-edit/{id:guid}"
@rendermode InteractiveAuto
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@inject IQuestionTypeAdminService QuestionTypeAdminService

@* InjectionCodePlaceholder *@
@* @inject IToDoListAdminService ToDoListAdminService *@

  @if (Id.Equals(Guid.Empty))
  {
    <PageTitle>Question Type Creation</PageTitle>
  }
  else
  {
    <PageTitle>Question Type Modification</PageTitle>
  }

<section>
  @if (Id.Equals(Guid.Empty))
  {
    <h1>Question Type Creation</h1>
  }
  else
  {
    <h1>Question Type Modification</h1>
  }
  <article>
    <EditForm class="container" Model="questionTypeAdminEditModel" OnSubmit="HandleSubmit">

      @* EditRowCodePlaceholder *@

      <div class="row">
        <div class="col">
          @if (!Id.Equals(Guid.Empty))
          {
            <button @onclick="Remove" type="button" class="btn btn-danger">Remove</button>
          }
        </div>
        <div class="col">
          <a href="/admin/UrlNamePlaceholder-list">Cancel</a>
          @if (Id.Equals(Guid.Empty))
          {
            <button type="submit" class="btn btn-primary">Create</button>
          }
          else
          {
            <button type="submit" class="btn btn-primary">Modify</button>
          }
         </div>
      </div>
    </EditForm>
  </article>
</section>

@code {
  [Parameter]
  public Guid Id { get; set; }
  QuestionTypeAdminEditModel questionTypeAdminEditModel { get; set; } = new QuestionTypeAdminEditModel();

  @* ListDeclarationCodePlaceholder *@

  protected override async Task OnInitializedAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    await base.OnInitializedAsync();

    @* OnInitializedCodePlaceholder *@
  }

  protected override async Task OnParametersSetAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    if (Id.Equals(Guid.Empty))
    {
      return;
    }

    var databaseQuestionTypeAdminDto = await QuestionTypeAdminService.GetByIdAsync(userName, Id);

    if (databaseQuestionTypeAdminDto == null)
    {
      questionTypeAdminEditModel = new QuestionTypeAdminEditModel();
    }
    else
    {
      questionTypeAdminEditModel = QuestionTypeAdminEditModel.FromQuestionTypeAdminDto(databaseQuestionTypeAdminDto);
    }
  }

  async Task HandleSubmit()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    @* RequiredPropertyPlaceholder *@

    @* if (string.IsNullOrWhiteSpace(questionTypeAdminEditModel.Name))
    {
      return;
    } *@

    var questionTypeAdminDto = QuestionTypeAdminEditModel.ToQuestionTypeAdminDto(questionTypeAdminEditModel);
    questionTypeAdminDto.ApplicationUserName = userName;

    if (Id.Equals(Guid.Empty))
    {
      var newQuestionTypeAdminDto = await QuestionTypeAdminService.AddAsync(questionTypeAdminDto);

      if (newQuestionTypeAdminDto == null)
      {
        return;
      }

      NavigationManager.NavigateTo($"/admin/UrlNamePlaceholder-edit/{newQuestionTypeAdminDto.Id}");
    }
    else
    {
      await QuestionTypeAdminService.EditAsync(questionTypeAdminDto);
    }
  }

  async Task Remove()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name!;

    if (userName == null)
    {
      return;
    }

    if (Id.Equals(Guid.Empty))
    {
      return;
    }

    await QuestionTypeAdminService.DeleteAsync(userName, Id);
    NavigationManager.NavigateTo($"/admin/UrlNamePlaceholder-list");
  }

  @* OnChangeCodePlaceholder *@
}
