@page "/admin/question-edit"
@page "/admin/question-edit/{id:guid}"
@rendermode InteractiveAuto
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@inject IQuestionAdminService QuestionAdminService

@inject IQuestionTypeAdminService QuestionTypeAdminService
@* InjectionCodePlaceholder *@
@* @inject IToDoListAdminService ToDoListAdminService *@

  @if (Id.Equals(Guid.Empty))
  {
    <PageTitle>Question Creation</PageTitle>
  }
  else
  {
    <PageTitle>Question Modification</PageTitle>
  }

<section>
  @if (Id.Equals(Guid.Empty))
  {
    <h1>Question Creation</h1>
  }
  else
  {
    <h1>Question Modification</h1>
  }
  <article>
    <EditForm class="container" Model="questionAdminEditModel" OnSubmit="HandleSubmit">

      <div class="row">
        <div class="col">
          <label>
            Question Type:
            <select @onchange="QuestionTypeOnChange">
              <option>Select question type...</option>
                @if (questionTypeList != null)
                {
                  @foreach (var questionType in questionTypeList)
                  {
                    if (questionAdminEditModel.QuestionType != null && questionAdminEditModel.QuestionType.Id.Equals(questionType.Id))
                    {
                      <option value="@questionType.Id" selected>@questionType.Name</option>
                    }
                    else
                    {
                      <option value="@questionType.Id">@questionType.Name</option>
                    }
                  }
                }
              </select>
          </label>
        </div>
      </div>
      @* EditRowCodePlaceholder *@

      <div class="row">
        <div class="col">
          @if (!Id.Equals(Guid.Empty))
          {
            <button @onclick="Remove" type="button" class="btn btn-danger">Remove</button>
          }
        </div>
        <div class="col">
          <a href="/admin/question-list">Cancel</a>
          @if (Id.Equals(Guid.Empty))
          {
            <button type="submit" class="btn btn-primary">Create</button>
          }
          else
          {
            <button type="submit" class="btn btn-primary">Modify</button>
          }
         </div>
      </div>
    </EditForm>
  </article>
</section>

@code {
  [Parameter]
  public Guid Id { get; set; }
  QuestionAdminEditModel questionAdminEditModel { get; set; } = new QuestionAdminEditModel();

  List<QuestionType> questionTypeList { get; set; } = [];
    @* ListDeclarationCodePlaceholder *@

  protected override async Task OnInitializedAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    await base.OnInitializedAsync();

    @* OnInitializedCodePlaceholder *@
  }

  protected override async Task OnParametersSetAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    if (Id.Equals(Guid.Empty))
    {
      return;
    }

    var databaseQuestionAdminDto = await QuestionAdminService.GetByIdAsync(userName, Id);

    if (databaseQuestionAdminDto == null)
    {
      questionAdminEditModel = new QuestionAdminEditModel();
    }
    else
    {
      questionAdminEditModel = QuestionAdminEditModel.FromQuestionAdminDto(databaseQuestionAdminDto);
    }
  }

  async Task HandleSubmit()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    @* RequiredPropertyPlaceholder *@

    @* if (string.IsNullOrWhiteSpace(questionAdminEditModel.Name))
    {
      return;
    } *@

    var questionAdminDto = QuestionAdminEditModel.ToQuestionAdminDto(questionAdminEditModel);
    questionAdminDto.ApplicationUserName = userName;

    if (Id.Equals(Guid.Empty))
    {
      var newQuestionAdminDto = await QuestionAdminService.AddAsync(questionAdminDto);

      if (newQuestionAdminDto == null)
      {
        return;
      }

      NavigationManager.NavigateTo($"/admin/question-edit/{newQuestionAdminDto.Id}");
    }
    else
    {
      await QuestionAdminService.EditAsync(questionAdminDto);
    }
  }

  async Task Remove()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name!;

    if (userName == null)
    {
      return;
    }

    if (Id.Equals(Guid.Empty))
    {
      return;
    }

    await QuestionAdminService.DeleteAsync(userName, Id);
    NavigationManager.NavigateTo($"/admin/question-list");
  }

  @* OnChangeCodePlaceholder *@
}
