@page "/admin/UrlNamePlaceholder-edit"
@page "/admin/UrlNamePlaceholder-edit/{id:guid}"
@rendermode InteractiveAuto
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@inject IQuizAdminService QuizAdminService

@* InjectionCodePlaceholder *@
@* @inject IToDoListAdminService ToDoListAdminService *@

  @if (Id.Equals(Guid.Empty))
  {
    <PageTitle>Quiz Creation</PageTitle>
  }
  else
  {
    <PageTitle>Quiz Modification</PageTitle>
  }

<section>
  @if (Id.Equals(Guid.Empty))
  {
    <h1>Quiz Creation</h1>
  }
  else
  {
    <h1>Quiz Modification</h1>
  }
  <article>
    <EditForm class="container" Model="quizAdminEditModel" OnSubmit="HandleSubmit">

      @* EditRowCodePlaceholder *@

      <div class="row">
        <div class="col">
          @if (!Id.Equals(Guid.Empty))
          {
            <button @onclick="Remove" type="button" class="btn btn-danger">Remove</button>
          }
        </div>
        <div class="col">
          <a href="/admin/UrlNamePlaceholder-list">Cancel</a>
          @if (Id.Equals(Guid.Empty))
          {
            <button type="submit" class="btn btn-primary">Create</button>
          }
          else
          {
            <button type="submit" class="btn btn-primary">Modify</button>
          }
         </div>
      </div>
    </EditForm>
  </article>
</section>

@code {
  [Parameter]
  public Guid Id { get; set; }
  QuizAdminEditModel quizAdminEditModel { get; set; } = new QuizAdminEditModel();

  @* ListDeclarationCodePlaceholder *@

  protected override async Task OnInitializedAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    await base.OnInitializedAsync();

    @* OnInitializedCodePlaceholder *@
  }

  protected override async Task OnParametersSetAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    if (Id.Equals(Guid.Empty))
    {
      return;
    }

    var databaseQuizAdminDto = await QuizAdminService.GetByIdAsync(userName, Id);

    if (databaseQuizAdminDto == null)
    {
      quizAdminEditModel = new QuizAdminEditModel();
    }
    else
    {
      quizAdminEditModel = QuizAdminEditModel.FromQuizAdminDto(databaseQuizAdminDto);
    }
  }

  async Task HandleSubmit()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    @* RequiredPropertyPlaceholder *@

    @* if (string.IsNullOrWhiteSpace(quizAdminEditModel.Name))
    {
      return;
    } *@

    var quizAdminDto = QuizAdminEditModel.ToQuizAdminDto(quizAdminEditModel);
    quizAdminDto.ApplicationUserName = userName;

    if (Id.Equals(Guid.Empty))
    {
      var newQuizAdminDto = await QuizAdminService.AddAsync(quizAdminDto);

      if (newQuizAdminDto == null)
      {
        return;
      }

      NavigationManager.NavigateTo($"/admin/UrlNamePlaceholder-edit/{newQuizAdminDto.Id}");
    }
    else
    {
      await QuizAdminService.EditAsync(quizAdminDto);
    }
  }

  async Task Remove()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name!;

    if (userName == null)
    {
      return;
    }

    if (Id.Equals(Guid.Empty))
    {
      return;
    }

    await QuizAdminService.DeleteAsync(userName, Id);
    NavigationManager.NavigateTo($"/admin/UrlNamePlaceholder-list");
  }

  @* OnChangeCodePlaceholder *@
}
