@page "/admin/answer-list"
@rendermode InteractiveServer
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IAnswerAdminService AnswerAdminService
@attribute [StreamRendering]

<PageTitle>Answer List</PageTitle>

<section>
  <h1>Answer List</h1>
  <article>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Id</th>

          <th scope="col">CorrectQuestion</th>
              @* ListHeaderCodePlaceholder *@

          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (answers == null)
        {
          <tr>
            @* LoadingCountCodePlaceholder *@
          </tr>
        }
        else if (answers.Count == 0)
        {
          <tr>
            @* ZeroCountCodePlaceholder *@
          </tr>
        }
        else
        {
          @foreach (var answer in answers)
          {
            <tr>
              <td>@answer.Id</td>
              <td>@answer.CorrectQuestion?.Text</td>
              @* ListItemCodePlaceholder *@
              <td>
                <a href="@("/admin/answer-edit/" + answer.Id)">Edit</a>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
    <a href="/admin/answer-edit">Create</a>
  </article>
</section>

@code {
  List<Answer>? answers = null;

  protected override async Task OnInitializedAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    answers = await AnswerAdminService.GetAllAsync(userName);
  }
}
