@page "/admin/question-list"
@rendermode InteractiveServer
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IQuestionAdminService QuestionAdminService
@attribute [StreamRendering]

<PageTitle>Question List</PageTitle>

<section>
  <h1>Question List</h1>
  <article>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Id</th>

          <th scope="col">Answers</th>
              <th scope="col">CorrectAnswers</th>
              <th scope="col">QuestionType</th>
              <th scope="col">Text</th>
              @* ListHeaderCodePlaceholder *@

          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (questions == null)
        {
          <tr>
            <td colspan="6">Loading...</td>
            @* LoadingCountCodePlaceholder *@
          </tr>
        }
        else if (questions.Count == 0)
        {
          <tr>
            <td colspan="6">No questions found.</td>
            @* ZeroCountCodePlaceholder *@
          </tr>
        }
        else
        {
          @foreach (var question in questions)
          {
            <tr>
              <td>@question.Id</td>
              <td>@question.QuestionType?.Name</td>
              <td>@question.Text</td>
          @* ListItemCodePlaceholder *@
              <td>
                <a href="@("/admin/question-edit/" + question.Id)">Edit</a>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
    <a href="/admin/question-edit">Create</a>
  </article>
</section>

@code {
  List<Question>? questions = null;

  protected override async Task OnInitializedAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    questions = await QuestionAdminService.GetAllAsync(userName);
  }
}
