@page "/admin/question-type-list"
@rendermode InteractiveServer
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IQuestionTypeAdminService QuestionTypeAdminService
@attribute [StreamRendering]

<PageTitle>Question Type List</PageTitle>

<section>
  <h1>Question Type List</h1>
  <article>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Id</th>

          <th scope="col">Name</th>
              @* ListHeaderCodePlaceholder *@

          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (questionTypes == null)
        {
          <tr>
            @* LoadingCountCodePlaceholder *@
          </tr>
        }
        else if (questionTypes.Count == 0)
        {
          <tr>
            @* ZeroCountCodePlaceholder *@
          </tr>
        }
        else
        {
          @foreach (var questionType in questionTypes)
          {
            <tr>
              <td>@questionType.Id</td>
              <td>@questionType.Name</td>
          @* ListItemCodePlaceholder *@
              <td>
                <a href="@("/admin/question-type-edit/" + questionType.Id)">Edit</a>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
    <a href="/admin/question-type-edit">Create</a>
  </article>
</section>

@code {
  List<QuestionType>? questionTypes = null;

  protected override async Task OnInitializedAsync()
  {
    var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
    var userName = authState.User.Identity?.Name;

    if (userName == null)
    {
      return;
    }

    questionTypes = await QuestionTypeAdminService.GetAllAsync(userName);
  }
}
